<form [formGroup]="formGroup">

    <div class="name-container">
        <mat-form-field appearance="outline" color="primary" class="input-name">
            <input type="text" id="productName" matInput formControlName="productName_like^" placeholder="Search name" >
        </mat-form-field>
    </div>

    <div class="price-container">
        <h3>Price</h3>
        <mat-form-field appearance="outline" color="primary" class="input-price">
            <input type="text" id="price_gte" matInput formControlName="price_gte" placeholder="Minimum" >
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <span> - </span>
        <mat-form-field appearance="outline" color="primary" class="input-price">
            <input type="text" id="price_lte" matInput formControlName="price_lte" placeholder="Maximum" >
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <p *ngIf="!this.formGroup.valid" class="error-message"> Price range must be a number </p>
    </div>

    <div class="availability-container">
        <h3>Availability</h3>
        <mat-slide-toggle formControlName="available" color="primary">In Stock</mat-slide-toggle>
        <mat-slide-toggle formControlName="notAvailable" color="primary">Not available</mat-slide-toggle>
    </div>    

</form>
