<div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
  
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef> {{column.displayedName}} </th>

            <td mat-cell *matCellDef="let element"> 
                <span *ngIf="column.type !== 'check'; else elseCheck">{{element[column.value]}} </span>

                <ng-template #elseCheck> 
                    <mat-icon *ngIf="element[column.value]; else cancelBlock" [ngStyle]="{'color': 'green'}">check_box</mat-icon>
                    <ng-template #cancelBlock> 
                        <mat-icon color="warn">check_box_outline_blank</mat-icon> 
                    </ng-template>
                </ng-template>

            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames"></tr>
    
    </table>
</div>

<div class="loading-container" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>


<mat-paginator 
    [length]="resultsLength" 
    [pageSizeOptions]="[10, 25, 50, 100]" 
></mat-paginator>
