:host {
    position: relative;
}

table {
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #424242; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff8a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff4b; 
}

.table-container {
    min-height: 200px;
    max-height: calc(100vh - 256px);
    overflow: auto;
}

.mat-column-name {
    padding-right: 10px;
}

.mat-column-price {
    width: 100px;
    border-left: 1px solid currentColor;
    text-align: center;
}

.mat-column-isAvailable {
    width: 50px;
    border-left: 1px solid currentColor;
    padding-left: 24px;
    text-align: center;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }