<div class="products-container">
    <div class="containers filters-container">
        <app-filters 
            (onFiltersChange)="handleFilters($event)"
        ></app-filters>
    </div>
    <div class="containers table-container">
        <app-data-table 
            (onPaginatorChange)="handlePaginator($event)" 
            [data]="dataSource"
            [resultsLength]="resultsLength"
            [displayedColumns]="displayedColumns"
            [isLoadingResults]="isLoadingResults"
        ></app-data-table>
    </div>
</div>
